/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  line-height: 1.5;
}

/* Títulos elegantes */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

/* Links por defecto */
a {
  text-decoration: none;
  color: inherit;
}

/* Párrafos */
p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.7;
}
